APP_DEBUG = trueSIGN_KEY = PROJECT_NAME = webmanDEFAULT_TIMEZONE = Asia/ShanghaiDB_TYPE = mysqlDB_HOSTNAME = mysqlDB_HOSTPORT = 3306DB_USERNAME = rootDB_PASSWORD = 123456DB_DATABASE = testDB_PREFIX = DB_CHARSET = utf8REDIS_HOSTNAME = redisREDIS_PORT = 6379REDIS_PASSWORD = REDIS_SELECT = 0SERVER_PROTOCOL = httpSERVER_HOST = 0.0.0.0SERVER_PORT = 2346